@page
@model EFCore.Razor.Pages.Projects.AssignSuccessModel
@{
    ViewData["Title"] = "Project";
}

<h1 class="text-primary">Project / @Model.Assignment.Project / @Model.SaveMode.ToString() </h1>
<hr />
<div class="alert alert-success alert-dismissible fade show">
    <h4 class="alert-heading"><i class="far fa-check-circle"></i> Success!</h4>
    <p>@Model.Message</p>
    <hr>
    @if (Model.SaveMode == SaveMode.Delete)
    {
        <p class="mb-0">Click 'Back to List'.</p>
    }
    else
    {
        <p class="mb-0">To modify click the 'Edit' button or 'Back to List'.</p>
    }
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Role)
        </dd>
    </dl>
</div>
<div>
    @if (Model.SaveMode != SaveMode.Delete)
    {
        <a asp-page="./EditAssignment" asp-route-id="@Model.Assignment.Id">Edit</a> <text>|</text>
    }
    <a asp-page="./Assignments" asp-route-id="@Model.Assignment.Project_Id">Back to List</a>
</div>
