@page
@model IndexModel
@{
    ViewData["Title"] = "Projects";
}

<h1 class="text-primary">Projects</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-8">
            <input class="form-control" asp-for="@Model.GenericPage.SearchString" type="text" value="@Model.GenericPage.SearchString" />
        </div>
        <div class="form-group col-md-2">
            <input type="submit" class="btn btn-secondary btn-sm" value="Search" />
            <a asp-page="./Index" class="btn btn-secondary btn-sm">Reset</a>
        </div>
    </div>
</form>
@{
    var headerRouteData = new Dictionary<string, string>()
    {
        { "SearchString", Model.GenericPage.SearchString },
        { "PreviousSortField", Model.GenericPage.SortField },
        { "SortOrder", Model.GenericPage.SortOrder.ToString() },
        { "CurrentPageIndex", Model.GenericPage.CurrentPageIndex.ToString() },
        { "IsHeaderClicked", true.ToString() }
    };

    var sequence = 1;
}
<table class="table table-hover border-bottom">
    <thead>
        <tr>
            <th><a href="#">#</a></th>
            <th>
                <a asp-all-route-data="@headerRouteData" asp-route-SortField="Department">
                    @Html.DisplayNameFor(model => model.GenericPage.PaginatedList.Items.First().Project)
                </a>
            </th>
            <th>
                <a asp-page="Create" class="text-primary"><i class="far fa-plus-square"></i>  Create New</a>
                <div class="float-lg-right">
                    @{
                        if (Model.GenericPage.PaginatedList.MatchCount > Model.GenericPage.PaginatedList.PageSize)
                        {
                            <h6 class="text-dark float-right small">Page @Model.GenericPage.CurrentPageIndex of @Model.GenericPage.PaginatedList.TotalPages</h6>
                        }
                    }
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GenericPage.PaginatedList.Items)
        {
            <tr>
                <td>
                    @(((Model.GenericPage.CurrentPageIndex - 1) * Model.GenericPage.PaginatedList.PageSize) + sequence++)
                </td>
                <td>
                    <i class="fas fa-project-diagram"></i>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    <a asp-page="./Assignments" asp-route-id="@item.Id" class="small">Assign (<span class="text-danger">@item.MemberCount</span>)</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="small">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="small">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="small">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{

    var pageNavigationRouteData = new Dictionary<string, string>()
    {
        { "SearchString", Model.GenericPage.SearchString },
        { "SortField", Model.GenericPage.SortField },
        { "PreviousSortField", Model.GenericPage.PreviousSortField },
        { "SortOrder", Model.GenericPage.SortOrder.ToString() },
    };

    <vc:paging route-Data="pageNavigationRouteData"
           current-page-index="Model.GenericPage.CurrentPageIndex"
           page-index-view-limit="Model.GenericPage.PaginatedList.PageIndexViewLimit"
           match-count="Model.GenericPage.PaginatedList.MatchCount"
           has-next-page="Model.GenericPage.PaginatedList.HasNextPage"
           has-previous-page="Model.GenericPage.PaginatedList.HasPreviousPage"
           total-pages="Model.GenericPage.PaginatedList.TotalPages"
           page-size="Model.GenericPage.PaginatedList.PageSize"></vc:paging>
}

@section Scripts{
    <script>
            $(document).ready(() =>
            {
                function trim(input) {
                    var text = input.val();
                    input.val($.trim(text));
                }

                $('#@Html.IdFor(m => m.GenericPage.SearchString)').on('click mouseleave blur', function () { trim($(this)); });
            });
    </script>
}